<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Colorpicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Colorpicker.Properties.Settings>
            <setting name="PosLeft" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PosTop" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Selector" serializeAs="String">
                <value>red</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
        </Colorpicker.Properties.Settings>
    </userSettings>
</configuration>